<section id="home">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/banner.jpg" alt="first" class="item">
        <div class="carousel-caption d-none d-md-block">
          <h5>Trusted</h5>
          
        </div>
      </ng-template>
      <!-- <ng-template ngbSlide>
        <img src="assets/img/banner02.jpg" alt="second" class="item">
        <div class="carousel-caption d-none d-md-block">
          <h5>Trusted</h5>
        </div>
      </ng-template> -->
      <ng-template ngbSlide>
        <img src="assets/img/banner03.jpg" alt="third" class="item">
        <div class="carousel-caption d-none d-md-block">
          <h5>One Time Cleaning</h5>
          

        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/banner04.jpg" alt="fourth" class="item">
        <div class="carousel-caption d-none d-md-block">
          <h5>Easy Service</h5>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/banner05.jpg" alt="fifth" class="item">
        <div class="carousel-caption d-none d-md-block">
          <h5>Affordable Rates</h5>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="container p-5">
    <app-message></app-message>
    <p class="lead">
      <b>Recommended Services</b>
    </p>
    <div class="row">
      <div *ngIf="!products" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <div *ngFor="let product of products" class="col-md-3 mb-5">
        <a routerLink="/product/{{ product._id }}">
          <div class="card bg-light">
            <img src="{{ product.image }}" alt="product" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.price | currency:"₹" }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

 

